<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="DefaultErrorPage" value="http://www.google.cl" />
  
  <!--Fuente del deseo-->
  <add key="FuenteDeseo.Arcane.0" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  <add key="FuenteDeseo.Arcane.1" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  <add key="FuenteDeseo.Arcane.2" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  <add key="FuenteDeseo.Arcane.3" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  <add key="FuenteDeseo.Arcane.4" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  <add key="FuenteDeseo.Arcane.5" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  <add key="FuenteDeseo.Arcane.6" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  <add key="FuenteDeseo.Arcane.7" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  <add key="FuenteDeseo.Arcane.8" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  <add key="FuenteDeseo.Arcane.9" value="Envía SÍ al 2020 y recibirás tu Arcano." />
  
</appSettings>