<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="2.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="DefaultErrorPage" value="http://www.google.cl" />
  
  <!--Fuente del deseo-->
  <add key="FuenteDeseo.Arcane.0" value="Felicidades tu arcano es El Mago: el líder, el pionero, el comunicador. Descubre todo su significado enviando gratis al 35450 la palabra DESEO." />
  <add key="FuenteDeseo.Arcane.1" value="Felicidades tu arcano es La Sacerdotisa: adaptable, política, amable, precavida. Descubre todo su significado enviando gratis al 35450 la palabra DESEO." />
  <add key="FuenteDeseo.Arcane.2" value="Felicidades tu arcano es La Emperatriz: expansiva, sociable, creativa. Descubre todo su significado enviando gratis al 35450 la palabra DESEO." />
  <add key="FuenteDeseo.Arcane.3" value="Felicidades tu arcano es El Emperador:  trabajo, orden, espíritu práctico. Descubre todo su significado enviando gratis al 35450 la palabra DESEO." />
  <add key="FuenteDeseo.Arcane.4" value="Felicidades tu arcano es El Sumo Sacerdote:  adaptable, activo, viajero. Descubre todo su significado enviando gratis al 35450 la palabra DESEO." />
  <add key="FuenteDeseo.Arcane.5" value="Felicidades tu arcano es Los Enamorados: responsable, servicial, consejera. Descubre todo su significado enviando gratis al 35450 la palabra DESEO." />
  <add key="FuenteDeseo.Arcane.6" value="Felicidades tu arcano es El Carro: intuitivo, analítico, inspirador. Descubre todo su significado enviando gratis al 35450 la palabra DESEO." />
  <add key="FuenteDeseo.Arcane.7" value="Felicidades tu arcano es La Fuerza: responsable, abundante, con poder. Descubre todo su significado enviando gratis al 35450 la palabra DESEO." />
  <add key="FuenteDeseo.Arcane.8" value="Felicidades tu arcano es El Hermitano: compasivo, tolerante, servicial. Descubre todo su significado enviando gratis al 35450 la palabra DESEO." />
  
</appSettings>